@font-face{font-family:Apple card Ayisha;
    src:url('../Fonts/Apple card Ayisha 1.ttf');}
    @font-face{font-family:Apple card Ayisha S;
    src:url('../Fonts/Apple card Ayisha 2.ttf');}
    @font-face{font-family:Apple cards Abbas;
    src:url('../Fonts/Apple cards Abbas.ttf');}
    @font-face{font-family:Apple cards Abhimanyu;
    src:url('../Fonts/Apple cards Abhimanyu.ttf');}
    @font-face{font-family:Apple cards Abhirami;
    src:url('../Fonts/Apple cards Abhirami.ttf');}
    @font-face{font-family:Apple cards Adhil;
    src:url('../Fonts/Apple cards Adhil 1.ttf');}
    @font-face{font-family:Apple cards Adhil S;
    src:url('../Fonts/Apple cards Adhil 2.ttf');}
    @font-face{font-family:Apple cards Afsal ;
    src:url('../Fonts/Apple cards Afsal 1.ttf');}
    @font-face{font-family:Apple cards Afsal S;
    src:url('../Fonts/Apple cards Afsal 2.ttf');}
    @font-face{font-family:Apple cards Ahana ;
    src:url('../Fonts/Apple cards Ahana 1.ttf');}
    @font-face{font-family:Apple cards Ahana S;
    src:url('../Fonts/Apple cards Ahana 2.ttf');}
    @font-face{font-family:Apple cards Ahana T;
    src:url('../Fonts/Apple cards Ahana 3.ttf');}
    @font-face{font-family:Apple cards Ahana F;
    src:url('../Fonts/Apple cards Ahana 4.ttf');}
    @font-face{font-family:Apple cards Ajmal;
    src:url('../Fonts/Apple cards Ajmal.ttf');}
    @font-face{font-family:Apple cards Aleena ;
    src:url('../Fonts/Apple cards Aleena 1.ttf');}
    @font-face{font-family:Apple cards Aleena S;
    src:url('../Fonts/Apple cards Aleena 2.ttf');}
    @font-face{font-family:Apple cards Aleena T;
    src:url('../Fonts/Apple cards Aleena 3.ttf');}
    @font-face{font-family:Apple cards Ameer ;
    src:url('../Fonts/Apple cards Ameer 1.ttf');}
    @font-face{font-family:Apple cards Ameer S;
    src:url('../Fonts/Apple cards Ameer 2.ttf');}
    @font-face{font-family:Apple cards Ameer T;
    src:url('../Fonts/Apple cards Ameer 3.ttf');}
    @font-face{font-family:Apple cards Ameer F;
    src:url('../Fonts/Apple cards Ameer 4.ttf');}
    @font-face{font-family:Apple cards Ameer 5;
    src:url('../Fonts/Apple cards Ameer 5.ttf');}
    @font-face{font-family:Apple cards Ameer 6;
    src:url('../Fonts/Apple cards Ameer 6.ttf');}
    @font-face{font-family:Apple cards Amina;
    src:url('../Fonts/Apple cards Amina.ttf');}
    @font-face{font-family:Apple cards Amrutha;
    src:url('../Fonts/Apple cards Amrutha.ttf');}
    @font-face{font-family:Apple cards Ananya;
    src:url('../Fonts/Apple cards Ananya.ttf');}
    @font-face{font-family:Apple cards Anas ;
    src:url('../Fonts/Apple cards Anas 1.ttf');}
    @font-face{font-family:Apple cards Anas S;
    src:url('../Fonts/Apple cards Anas 2.ttf');}
    @font-face{font-family:Apple cards Anugraha;
    src:url('../Fonts/Apple cards Anugraha.ttf');}
    @font-face{font-family:Apple cards Anuradha;
    src:url('../Fonts/Apple cards Anuradha.ttf');}
    @font-face{font-family:Apple cards Arathi;
    src:url('../Fonts/Apple cards Arathi.ttf');}
    @font-face{font-family:Apple cards Arif ;
    src:url('../Fonts/Apple cards Arif 1.ttf');}
    @font-face{font-family:Apple cards Arif S;
    src:url('../Fonts/Apple cards Arif 2.ttf');}
    @font-face{font-family:Apple cards Arif T;
    src:url('../Fonts/Apple cards Arif 3.ttf');}
    @font-face{font-family:Apple cards Arif F;
    src:url('../Fonts/Apple cards Arif 4.ttf');}
    @font-face{font-family:Apple cards Arif 5;
    src:url('../Fonts/Apple cards Arif 5.ttf');}
    @font-face{font-family:Apple cards Arif 6;
    src:url('../Fonts/Apple cards Arif 6.ttf');}
    @font-face{font-family:Apple cards Arya;
    src:url('../Fonts/Apple cards Arya.ttf');}
    @font-face{font-family:Apple cards Aseel ;
    src:url('../Fonts/Apple cards Aseel 1.ttf');}
    @font-face{font-family:Apple cards Aseel S;
    src:url('../Fonts/Apple cards Aseel 2.ttf');}
    @font-face{font-family:Apple cards Ashik;
    src:url('../Fonts/Apple cards Ashik.ttf');}
    @font-face{font-family:Apple cards Ashraf;
    src:url('../Fonts/Apple cards Ashraf.ttf');}
    @font-face{font-family:Apple cards Asif;
    src:url('../Fonts/Apple cards Asif.ttf');}
    @font-face{font-family:Apple cards Asiya ;
    src:url('../Fonts/Apple cards Asiya 1.ttf');}
    @font-face{font-family:Apple cards Asiya S;
    src:url('../Fonts/Apple cards Asiya 2.ttf');}
    @font-face{font-family:Apple cards Asiya T;
    src:url('../Fonts/Apple cards Asiya 3.ttf');}
    @font-face{font-family:Apple cards Asiya F;
    src:url('../Fonts/Apple cards Asiya 4.ttf');}
    @font-face{font-family:Apple cards Asna ;
    src:url('../Fonts/Apple cards Asna 1.ttf');}
    @font-face{font-family:Apple cards Asna S;
    src:url('../Fonts/Apple cards Asna 2.ttf');}
    @font-face{font-family:Apple cards Asna T;
    src:url('../Fonts/Apple cards Asna 3.ttf');}
    @font-face{font-family:Apple cards Ayisha ;
    src:url('../Fonts/Apple cards Ayisha 1.ttf');}
    @font-face{font-family:Apple cards Ayisha S;
    src:url('../Fonts/Apple cards Ayisha 2.ttf');}
    @font-face{font-family:Myfont;
    src:url('../Fonts/Myfont.otf');}